.timeline-container {
  /* though I hate using it... helps get the desired centering you're gonna want */
  display: table;
  margin: 0 auto 50px auto;
}

.information {
  padding: 10px;
  border: 2px solid #2e2361;
  position: relative;
  /* should be half the value of the .nav-element margin-bottom */
  bottom: 20px;
  /* box sizing is a CSS3 property that affects how the box model is calculated. By setting it here, we're telling the browser to calculate padding, border AND content with a height/weidth of X value */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.information:last-of-type {
  bottom: 0;
  top: 20px;
}

.nav-element {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Karma', serif;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  border: 2px solid #2e2361;
  margin: 0 auto 40px auto;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-element:after {
  display: block;
  content: '';
  /* this height needs to match 1/2 of the margin-bottom value of .nav-element */
  height: 20px;
  /* the width/background color should mirror the border in the .nav-element */
  width: 2px;
  background-color: #2e2361;
  /* this positions the timeline stick absolutely bottom/center of the node. In order for this to be absolutely positioned according to the parent element, we set the parent element's position to 'relative,' otherwise it would be positioned absolutely to the window. The top/left values correspond to the height and width of the element (minus the border) */
  position: absolute;
  top: 98px;
  left: 48px;
}

/* this is the top of the node. we're using both :before and :after pseudo elements so that we can shove the box in between the nodes and make it appear as if everything's evenly connected*/
.nav-element:before {
  display: block;
  content: '';
  height: 20px;
  width: 2px;
  background-color: #2e2361;
  position: absolute;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: 98px;
  left: 48px;
}

.nav-element:last-of-type {
  margin-bottom: 0;
}

.nav-element:last-of-type:after, .nav-element:first-of-type:before {
  display: none;
}

.nav-element.active:last-of-type:after {
  display: block;
  margin-bottom: 40px;
}

.nav-element.active {
  background-color: #2e2361;
  color: white;
}

.toc {
  border: 2px solid #2e2361;
  position: absolute;
  right: 10px;
  padding: 10px;
  width: 250px;
}

.toc-element {
  display: block;
}

.toc-element.active {
  font-weight: bold;
  font-style: italic;
}

.link-text {
  display: block;
  text-align: center;
  margin: 45% auto 0 auto;
}

/* Base styles */
.wrapper {
  /* shit gets weird when you allow the container to get too big, */
  max-width: 940px;
}

body {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}

a {
  font-weight: bold;
  color: #2e2361;
}

a:hover, a:visited {
  color: #2e2361;
  font-style: italic;
  text-decoration: none;
  font-weight: 700;
}

a.nav-element {
  color: #272727;
}

a.nav-element:hover {
  font-style: normal;
  color: white;
  background-color: #2e2361;
}

header {
  font-weight: bold;
  font-family: 'Karma', serif;
  font-size: 32px;
  text-align: center;
  margin: 50px 0 50px 0;
}

/* Utility classes */
.hide {
  display: none;
}

.clearfix {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media (max-width: 670px) {
  .toc {
    display: none;
  }
}