<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kurt Yalcin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if is_devserver %}
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    {% else %}
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    {% endif %}
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
	</head>
	<body>
    <h1><span class="red">kurt</span> duran yalcin</h1>
    <div class="container">
      <div class="grid clearfix">
        <div data-content="1" class="tile">
          <img src="static/img/tile1.png">
        </div>
        <div data-content="2" class="tile">
          <img src="static/img/tile2.png">
        </div>
        <div data-content="3" class="tile">
          <img src="static/img/tile3.png">
        </div>
        <div data-content="4" class="tile">
          <img src="static/img/tile4.png">
        </div>
        <div data-content="5" class="tile">
          <img src="static/img/tile5.png">
        </div>
        <div data-content="6" class="tile">
          <img src="static/img/tile6.png">
        </div>
        <div data-content="7" class="tile">
          <img src="static/img/tile7.png">
        </div>
        <div data-content="8" class="tile">
          <img src="static/img/tile8.png">
        </div>
        <div data-content="9" class="tile">
        </div>
      </div>
      <div class="content hide">
        <a href="#" class="exit">&times;</a>
        <div class="next"></div>
        <div class="back"></div>
        <div data-content="1" class="info hide bio">
          <h3><span class="red">Kurt</span> Duran Yalcin</h3>
          <p>Brooklyn by way of Baltimore</p>
          <a class="social" href="http://instagram.com/kurtsy" target="_blank">Instagram</a>
          <a class="social" href="http://www.pinterest.com/kyalcin/" target="_blank">Pinterest</a>
          <a class="social" href="http://www.linkedin.com/in/kyalcin/" target="_blank">LinkedIn</a>
        </div>
        <div data-content="2" class="info hide">
          <img src="static/img/tilecontent2.png">
          <h3>Skillshare Email - Typography That Works</h3>
          <p>Developed and implemented a strategy to drive large amounts of traffic to the Skillshare site by promoting one free class a month via email.</p>
          <p>Email layout created by Krystyn Heide</p>
          <p>Images pulled from class pages</p>
        </div>
        <div data-content="3" class="info hide">
          <img src="static/img/tilecontent3.jpg">
          <h3>UGallery Homepage Image</h3>
          <p>Designed concept, wrote copy, and made creative</p>
          <p>Photography by <a target="_blank" title="Talia Rainyk" href="http://www.ugallery.com/talia-rainyk">Talia Rainyk</a></p>
        </div>
        <div data-content="4" class="info hide">
          <img src="static/img/tilecontent4.jpg">
          <h3>Display Ad</h3>
          <p>Highest performing retargeting ad in UGallery history</p>
          <p>Designed concept, wrote copy, and made creative</p>
          <p>Painting by <a target="_blank" title="Stephen Poling" href="http://www.ugallery.com/stephen-poling">Stephen Poling</a></p>
        </div>
        <div data-content="5" class="info hide">
          <img src="static/img/tilecontent5.jpg">
          <h3>Retargeting Display Ad for UGallery</h3>
          <p>Designed concept, wrote copy, and made creative</p>
          <p>Photography by <a target="_blank" title="Ansen Seale" href="http://www.ugallery.com/ansen-seale">Ansen Seal</a></p>
        </div>
        <div data-content="6" class="info hide clearfix">
          <img src="static/img/tilecontent6.jpg" class="float_left vertical">
          <div class="float_right pinterest_description">
            <h3>Pinterest Social Media Campaign Asset</h3>
            <p>Designed concept, wrote copy, and made creative</p>
            <p>Photography by <a target="_blank" title="Chelsea Fisher" href="http://www.ugallery.com/chelsea-fisher">Chelsea Fisher</a></p>
          </div>
        </div>
        <div data-content="7" class="info hide">
          <img src="static/img/tilecontent7.jpg">
          <h3>Logo Redesign</h3>
          <p>Assisted Gallery Director to redesign UGallery logo</p>
          <p>Designed concept</p>
        </div>
        <div data-content="8" class="info hide">
          <img src="static/img/tilecontent8.jpg">
          <h3>Bloomspot Daily Deal</h3>
          <p>Wrote copy and made creative</p>
        </div>
        <div data-content="9" class="info hide">
          <h3>Resume</h3>
          <p>All media is an art form. I believe the intersection of technology and art will define the voice of our generation. I want to work for a company that is passionate about bringing people together in innovative and creative ways.</p>

          <hr>

          <h3>Experience</h3>
          <h4>MARKETING COORDINATOR, SKILLSHARE, <small>September 2013 – Present</small></h4>
          <ul>
            <li>Create copy, HTML, and graphics for all marketing emails and deliver to 500,000+ subscribers</li>
            <li>Develop and plan email marketing calendar</li>
            <li>Monitor, report on, and optimize email marketing and Facebook paid ad campaign performance using split and multivariate testing</li>
            <li>Generate qualified traffic and acquire customers across online marketing channels including SEM, social media, affiliate, video, retargeting, mobile, etc.</li>
          </ul>

          <h4>MARKETING AND COMMUNITY MANAGER, UGALLERY.COM, <small>March 2012 – June 2013</small></h4>
          <ul>
            <li>Organized all local and national community outreach, PR, and marketing</li>
            <li>Used analytics (CTR, Op</li>
            <li>Analyzed data from Google Analytics to optimize site content</li>
            <li>Acted as the sole contributor to UGallery’s social media (Pinterest, Instagram, Facebook, etc.)</li>
            <li>Wrote new content as the sole editor and writer of the blog (utilize HTML to optimize tumblr)</li>
            <li>Created all direct marketing materials for newsletter subscribers and customers</li>
            <li>Updated homepage graphics weekly creating graphics on Adobe Illustrator and Adobe Photoshop</li>
          </ul>

          <h4>COPYWRITER, PRODUCTION &amp; CREATIVE TEAM ASSOCIATE, BLOOMSPOT, <small>June 2011 – December 2011</small></h4>
          <ul>
            <li>Wrote original content and copy seen by more than 300,000 subscribers a week</li>
            <li>Analyzed performance metrics (CTR, Email Open Rates, Subject Line Testing, Exposure)</li>
            <li>Utilized Photoshop, Merchant Dashboards, Publish Pages, and Content Management Systems </li>
          </ul>

          <h4>CURATOR’S ASSISTANT, VAN ALEN INSTITUTE-VAI BOOKS, <small>Jan 2011 – May 2011</small></h4>
          <ul>
            <li>Developed curatorial agendas for the center</li>
            <li>Collaborated with publishing houses on the consignment of books</li>
          </ul>

          <h4>SALES AND MARKETING INTERN, DWELL MEDIA INC., <small>August 2010 – December 2010</small></h4>
          <ul>
            <li>Performed market research in preparation for annual expo, Dwell on Design</li>
          </ul>

          <h4>WEB INTERN, HEARST CORPORATION, <small>May 2010 – August 2010</small></h4>
          <ul>
            <li>Implemented Search Engine Optimization (SEO) to maximize web performance</li>
            <li>Operated the CMS to convert printed material into digital format for housebeautiful.com</li>
          </ul>

          <hr>

          <h3>Education</h3>
          <ul>
            <li>NEW YORK UNIVERSITY, NEW YORK, NY, September 2007 – May 2011
            B.A. Journalism, B.A. Urban Design and Architecture Studies
            GPA 3.54</li>
            <li>NEW YORK UNIVERSITY IN PRAGUE, CZECH REPUBLIC, Fall 2009</li>
          </ul>
        </div>
      </div>
    </div>
    {% if is_devserver %}
      <script src="static/js/lib/jquery.min.js"></script>
    {% else %}
      <script src="static/js/lib/jquery.js"></script>
    {% endif %}
      <script src="static/js/main.js"></script>
	</body>
</html>