<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kurt Yalcin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if is_devserver %}
            <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        {% else %}
            <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        {% endif %}
	   <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Karma:600,700|Roboto:300,700italic' rel='stylesheet' type='text/css'>
    </head>
	<body>
        <div class="wrapper">
            <header>
                <h1>Kurt Yalcin</h1>
            </header>

            <nav class="toc">
                <a href="#" class="toc-element" data-toggle="about">About</a>
                <a href="#" class="toc-element" data-toggle="instagram">Instagram Print Case Study</a>
                <a href="#" class="toc-element" data-toggle="project-5">Project #5 Case Study</a>
                <a href="#" class="toc-element" data-toggle="contact">Contact</a>
            </nav>

            <div class="timeline-container">
                <a class="nav-element" href="#" data-toggle="about">
                    <span class="link-text">About</span>
                </a>
                <div class="information hide" data-toggle="about">
                    Coming Soon
                </div>

                <a class="nav-element" href="#" data-toggle="instagram">
                    <span class="link-text">Instagram Print</span>
                </a>
                <div class="information hide" data-toggle="instagram">
                    Coming Soon
                </div>

                <a class="nav-element" href="#" data-toggle="project-5">
                    <span class="link-text">Project 5</span>
                </a>
                <div class="information hide" data-toggle="project-5">
                    Coming Soon
                </div>

                <a class="nav-element" href="#" data-toggle="contact">
                    <span class="link-text">Contact</span>
                </a>
                <div class="information hide" data-toggle="contact">
                    <p>Email is the best way to reach me: <a href="mailto:kyalcin@gmail.com">kyalcin@gmail.com</a></p>
                    <p>You can say hey on social media, too: <a href="#TODO">LinkedIn</a> | <a href="#TODO">Twitter</a></p>
                </div>
            </div>
        </div>
        {% if is_devserver %}
            <script src="static/js/lib/jquery.min.js"></script>
        {% else %}
            <script src="static/js/lib/jquery.js"></script>
        {% endif %}
        <script src="static/js/main.js"></script>
	</body>
</html>